body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
* {
    box-sizing: border-box;
}
.wrapper {
    min-height: 100vh;
    background-image: linear-gradient(102.7deg, #fddaff 8.2%, #dfadfc 19.6%, #adcdfc 36.8%, #adfcf4 73.2%, #caf8d0 90.9%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.card {
    max-width: 450px;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    font-size: 15px;
    overflow: hidden;
    color: #455963;
    box-shadow: 0 20px 80px rgb(0 0 0 / 30%);
    padding: 25px;
}
.caption {
    font-size: 20px;
    font-weight: 600;
}
.form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
ul {
    margin: 40px 0 0 0;
    padding: 0;
}
ul li {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.edit-block {
    display: flex;
    align-items: center;
}
.save {
    cursor: pointer;
    width: 15px;
    min-width: 15px;
    height: 15px;
    background-image: url(save.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    margin-left: 10px;
}
.edit {
    cursor: pointer;
    width: 10px;
    min-width: 10px;
    height: 10px;
    background-image: url(edit.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: 15px;
}
.close {
    cursor: pointer;
    color: #1873B7;
    width: 10px;
    min-width: 10px;
    height: 10px;
    background-image: url(close.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.input {
    height: 40px;
    border: none;
    border-bottom: 1px solid #455963;
    flex-grow: 1;
    outline: none;
    font-size: 17px;
    margin-right: 20px;
    color: #455963;
}
.input-edit {
    height: 20px;
    width: 150px;
    color: #455963;
    border: 1px solid #455963;
    outline: none;
    font-size: 15px;
}
.submit-btn[disabled] {
    opacity: 0.5;
    cursor: default;
}
.submit-btn {
    width: 40px;
    height: 40px;
    background-image: url(next.png);
    border: none;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
}
.checkbox-block {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.checkbox:checked + .check {
    background: #1873B7;
    border: 1px solid #1873B7;
}
.checkbox:checked + .check + .text:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1873B7;
}
.check {
    border: 1px solid #455963;
    border-radius: 2px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: block;
    transition: all 0.3s;
    margin-right: 10px;
    position: relative;
}
.check:after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 6px;
    left: 6px;
}
.text {
    font-size: 16px;
    line-height: 19px;
    position: relative;
}
::-webkit-input-placeholder {font-family: Verdana; font-size: 17px; color: #455963;}
::-moz-placeholder {font-family: Verdana; font-size: 17px; color: #455963;}
:-moz-placeholder {font-family: Verdana; font-size: 17px; color: #455963;}
:-ms-input-placeholder {font-family: Verdana; font-size: 17px; color: #455963;}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    display: none;
}
.overlay.active {
    display: flex;
}
.modal {
    max-width: 450px;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 20px 80px rgb(0 0 0 / 30%);
    padding: 25px;
    position: relative;
}
.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal-input {
    display: block;
    height: 40px;
    border: none;
    border-bottom: 1px solid #455963;
    outline: none;
    font-size: 17px;
    color: #455963;
    width: 100%;
    margin-top: 20px;
}
.modal-btn {
    background-color: #1873B7;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
}
.error {
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
    color: red;
}